.container {
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    z-index: 999;
    bottom: 0;
    width: 100%;
    /* height: 4rem; */
    background-color: rgba(65, 65, 65, 0.5);
}

.footerColumn {
    width: 33.33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    color: #ffffff;
    padding: .5rem 0 .75rem 0;
    margin-right: 6rem;
}

#phoneNumber {
    font-size: 1.5rem;
}

#evolv {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

#evolvMobileLogo {
    height: 2rem
}

.logoImage {
    height: 4rem;
    width: auto;
    padding: 0.25rem;
}