.container {
    display: flex;
    justify-content: space-evenly;
}

.footerBotContainer {
    display: flex;
    justify-content: flex-end;
    padding: 0 10px 4px 10px;
}

.footerColumn {
    width: 33.33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 0 10px 0 8% */
}

.header1 {
    font-family: Georgia, 'Times New Roman', Times, serif;

    color: #ffffff;
    font-size: 1.5rem;
}

.footerItem {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    font-size: 1rem;
}

.openHours {
    display: flex;
    align-items: center;
    height: 100%;
    color: #ffffff;
    font-size: 1.5rem;
}

footer {
    background-color: rgba(0, 0, 0, 0.6);
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    width: 100%;
    position: fixed;
    bottom: 0
}

.buttonFooter {
    border: 0;
    border-radius: 2px;
    padding: 0 2px 0 2px;
    font-size: 16px;
    background-color: transparent;
    color: #FFFFFF99;
    cursor: pointer;
    transition: 0.5s;
}

.buttonFooter:hover {
    background-color: gray;
}

.logoImage {
    height: 3.5rem;
    width: auto;
    padding: 0.25rem;
}