html {
    scroll-behavior: smooth;
}

.app {
    background-color: transparent;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.underConstruction {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 2rem;
    font-size: 1.5rem;
    width: 25%;
    justify-content: center;
    align-items: center;
}