.desktopHeader {
    width: 100%;
    height: 8rem;
    /* background-color: rgba(150, 150, 150, 0.6); */
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    position: fixed;
    top: 0;
    z-index: 999;
}

.desktopHeaderButton {
    background-color: transparent;
    color: white;
    border: none;
    height: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    /* border-right: 1px solid white; */
    outline: none;
    font-family: "Agrandir-Wide";
}

.activeTab {
    font-family: "Agrandir-Regular";
    font-size: 1.6rem;
    color: #ecc777
}

.desktopHeaderButton:last-of-type {
    border-right: none;
}

.desktopHeaderButton:hover {
    cursor: pointer;
}

.desktopHeaderLogo {
    height: 7rem;
    display: flex;
    line-height: 7rem;
    align-items: center;
}

.desktopHeaderRoutes {
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: flex-end;
    margin-right: 3rem;
}

.menuImage {
    height: 7rem;
    padding-left: 2rem;
    padding-right: 2rem;
}