html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
}

.app {
    background-color: green;
    background-size : cover;
    /* background-attachment: fixed; */
    height: 100vh;
    /* width: 100vw; */
    /* display: flex;
    flex-direction: column; */
    /* overflow: hidden;  */
    position: fixed;
}
.pageOne {
    height: 100vh;
    width: 100vw;
}

.contactBox {
    margin: 1rem;
    padding: 1rem;
}

.contentOne {
    background-color: blue;
    display: inline-block;
    height: 19rem;
    width: 100vw;
}
.contentTwo {
    background-color: red;
    display: inline-block;
    height: 19rem;
    width: 100vw;
}
.contentThree {
    background-color: yellow;
    display: inline-block;
    height: 19rem;
    width: 100vw;
}

.logoBox {
    border: 2px solid white;
    margin: 1rem;
    padding: 2rem;
}

.mainContent {
    margin-top: 4rem;
    height: 20rem;
    overflow: auto;
    white-space: nowrap;
    scroll-snap-type: mandatory;
    scroll-snap-type: x mandatory;

}

.mobileHeader {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.phoneNumberLink {
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
}
