html, body {
    height: 100%;
    margin: 0;
    width: 100%;
}

.app {
    background-color: green;
    background-size : cover;
    height: 100vh;
    position: fixed;
}
.buttonForward {
    align-items: center;
    align-self: flex-end;
    background-color: blue;
    border: 2px solid white;
    border-radius: 90px;
    color: white;
    display: flex;
    font-size: 1.5rem;
    height: 2.5rem;
    justify-content: center;
    line-height: 1.2rem;
    opacity: 0.5;
    position: absolute;
    right: 1rem;
    text-align: center;
    top:40%;
    width: 2.5rem;
}
.buttonBack {
    align-items: center;
    align-self: flex-start;
    background-color: blue;
    border: 2px solid white;
    border-radius: 90px;
    color: white;
    display: flex;
    font-size: 1.5rem;
    height: 2.5rem;
    justify-content: center;
    left: 1rem;
    line-height: 1.2rem;
    opacity: 0.5;
    position: absolute;
    text-align: center;
    top:40%;
    width: 2.5rem;
}
.pageOne {
    height: 100vh;
    width: 100vw;
}

.contactBox {
    margin: 1rem;
    padding: 1rem;
}

.contentOne {
    background-color: blue;
    display: inline-flex;
    flex-direction: column;
    position: relative;
    scroll-snap-align: center;
    width: 100vw;
}
.contentTwo {
    background-color: red;
    display: inline-flex;  
    flex-direction: column;  
    height: 50vh;
    position: relative;
    scroll-snap-align: center;
    width: 100vw;
}
.contentThree {
    background-color: yellow;
    display: inline-flex;
    flex-direction: column;
    height: 50vh;
    position: relative;
    scroll-snap-align: center;
    width: 100vw;
}
.contentView {
    color: white;
    display: flex;
    font-size: 2rem;
    justify-content: center;
    
}
.logoBox {
    border: 2px solid white;
    margin: 1rem;
    padding: 2rem;
}

.mainContent {
    margin-top: 4rem;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    scroll-snap-type: mandatory;
    scroll-snap-type: x mandatory;

}

.mobileHeader {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.phoneNumberLink {
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
}
