html,
body {
    margin: 0;
    /* height: 100% */
}

.app {
    /* background-color: green; */
    /* background: repeating-linear-gradient(
    90deg,
  #aa9557,
  #aa9557 0.8rem,
  #6a6a6a 0.8rem,
  #6a6a6a 1.6rem
   ); */
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
}

.contactBox {
    margin: 1rem;
    text-align: center;
}

.inlineImage {
    width: 35%;
}

.logoBox {
    margin: 1rem;
    max-width: 50%;
}

.logoPicture {
    box-sizing: border-box;
    height: auto;
    width: 100%
}

.mainContent {
    background-color: white;
    width: 100%
}

.mobileHeader {
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.menu {
    padding-bottom: 3rem;
    width: 100%
}

.menuBanner {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    font-size: 2rem;
    font-weight: 300;
    width: 100%;
    padding-left: 0.75rem;

}

.menuBreakfast {
    background-color: red;
    display: inline-flex;
    flex-direction: column;
    height: 50vh;
    position: relative;
    scroll-snap-align: center;
    width: 100vw;
}

.menuHeader {
    position: fixed;
    top: 5rem;
    color: white;
    background-color: black;
    height: 30vh;
}

.menuHolder {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    scroll-snap-type: mandatory;
    scroll-snap-type: x mandatory;
}

.menuImage {
    height: auto;
    width: 100%;
    display: block;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.menuItem {
    display: flex;
    flex-direction: column;
    padding: 0.75rem;
}

.menuLunch {
    background-color: red;
    display: inline-flex;
    flex-direction: column;
    height: 50vh;

    position: relative;
    scroll-snap-align: center;
    width: 100vw;
}

.menuItemHeader {
    padding-bottom: 0.4rem;
}

.menuItemTitle {
    display: inline;
    font-size: 1rem;
    font-weight: 600;
    padding-right: 1.5rem;
    /* font-family: 'Lucida Sans Unicode', Geneva, Verdana, sans-serif */
    font-family: Montserrat-Regular, Geneva
}

.menuItemPrice {
    display: inline;
    display: none;
    /* padding-left: 1.5rem; */
    font-size: 1rem;
    /* font-family: 'Lucida Sans Unicode', Geneva, Verdana, sans-serif */
    font-family: Montserrat-Light, Geneva;
}

.menuItemNotes {
    display: block;
    font-size: 0.85rem;
    font-family: 'Montserrat-Light';
}

.menuNav {
    width: 100%
}

.menuNavButton {
    border: 1px solid black;
    box-sizing: border-box;
    background-color: #dddddd;
    display: inline;
    float: left;
    font-size: 1rem;
    padding-bottom: 0.2rem;
    padding-top: 0.2rem;
    text-align: center;
    width: 25%;
}

.navMenu {
    box-sizing: border-box;
    background-color: rgba(60, 60, 60, 0.8);
    height: 100%;
    width: 100%;
    z-index: 2;
    padding: 3rem;
    margin-bottom: 5rem;
    overflow-x: hidden;
    position: fixed;
}

.navMenuButton {
    border: none;
    background-color: transparent;
    font-size: 2rem;
    color: white;
    padding: 0.5rem 0rem 0.5rem 0rem;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    width: 100%;
}

.menuNavButtonActive {
    border: 1px solid black;
    box-sizing: border-box;
    background-color: #f0ac4f;
    display: inline;
    float: left;
    font-size: 1rem;
    padding-bottom: 0.2rem;
    padding-top: 0.2rem;
    text-align: center;
    width: 25%;
}

.phoneNumberLink {
    color: #d6d6d6;
    font-size: 1.2rem;
    text-decoration: none;
}