.imageContainer {
    margin: 0.5rem .5rem .25rem 0rem;
    text-align: center;
    font-size: .75rem;
}

.mobileHeader {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    top: 0;
    overflow: hidden;
    z-index: 999;
    background-color: rgba(204, 204, 204, 0.8);
}

.mobileLogo {
    font-family: 'Montserrat-Thin';
    margin: 0.5rem;
    height: 4rem;
    color: #dddddd;
    align-items: center;
    display: flex;
    justify-content: center;
}

.menuImage {
    height: auto;

    display: block;

    max-height: 100%;
    object-fit: cover;
}

#mobilePhoneNumber {
    font-size: 0.9rem;
}