html,
body {
    margin: 0;
    /* height: 100% */
}

.app {
    /* background-color: green; */
    /* background: repeating-linear-gradient(
    90deg,
  #aa9557,
  #aa9557 0.8rem,
  #6a6a6a 0.8rem,
  #6a6a6a 1.6rem
); */
    /* background-size : cover;
    background-attachment: fixed; */
    height: 100vh;
    width: 100vw;
}

.consultationButton {
    align-self: center;
    font-size: 1.2rem;
    text-align: center;
    background-color: #ff8c00;
    border: none;
    border-radius: 5px;
    color: white;
    text-shadow: 1px 1px black;
}

.contactBox {
    margin: 1rem;
    text-align: center;
}

.contactField {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    margin-top: 1rem;
    width: 100%;
}

.contactHeader {
    font-size: 3rem;
    color: white;
    text-align: center;
    padding: 1rem;
}

.contactInput {
    background-color: #023c54;
    color: white;
    font-size: 1.1rem;
    font-weight: lighter;
    margin-top: 0.5rem;
    padding: 0.6rem;
    width: 90%;
}

.contactForm {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 90%;
}

.contactSubmit {
    align-self: center;
    background-color: #58500f;
    border: none;
    border-radius: 10px;
    color: white;
    display: flex;
    font-size: 1.6rem;
    margin: auto;
    margin-top: 1rem;
    padding: 0.5rem 2rem 0.5rem 2rem;
}

.contactUs {
    background-color: #023c54;
    color: white;
    height: 100vh;
    /* padding-bottom:2rem; */
    width: 100%;
}

.largeButton {
    background-color: #d6d6d6;
    border: 2px solid black;
    border-radius: 30px;
    font-size: 1.25rem;
    margin: 1rem;
    padding: 1rem 3rem 1rem 3rem;
}

.logoBox {
    /* border: 2px solid grey; */
    margin: 1rem;
    max-width: 50%;
}

.logoPicture {
    /* border: 0.5rem solid grey; */
    box-sizing: border-box;
    height: auto;
    width: 100%;
}

.mainContent {
    text-align: center;
    width: 100%;
    padding-bottom: 5rem;
}

.mainImage {
    /* border: 0.5rem solid grey; */
    box-sizing: border-box;
    height: auto;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    width: 90%;
}

.messageField {
    font-size: 1.2rem;
    margin-top: 1rem;
    width: 90%;
}

.messageInput {
    background-color: #023c54;
    border-style: inset;
    border-width: 2px;
    color: white;
    font-weight: lighter;
    font-size: 1.1rem;
    margin-top: 0.5rem;
    padding: 0.6rem;
    width: 100%;
}

.mobileHeader {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.NavBar {
    width: 100%;
    float: none;
    display: flex;
    height: 3rem;
    position: fixed;
    bottom: 0;
}

.NavButton {
    border: 1px solid black;
    border-radius: 0;
    font-size: 1.5rem;
    width: 34%;
}

.NavButton:focus {
    outline: none !important;
    outline-offset: none !important;
}

.phoneNumberLink {
    color: #d6d6d6;
    font-size: 1.2rem;
    text-decoration: none;
}

.services {
    color: black;
    padding: 2rem;
}

.servicesInfo {
    background-color: rgba(255, 255, 255, 0.4);
    font-size: 2rem;
    opacity: 1;
    width: 100%;
}

.slogan {
    display: flex;
    flex-direction: column;
    color: white;
    align-self: center;
    text-align: center;
    font-size: 4rem;
    text-shadow: 1px 1px 2px black;
}