:root {
    --global-font-family: "Agrandir-Wide";
    --global-font-size: 0.8rem;
    --global-text-color: #222;
    --global-primary-title-size: 2rem;
    --global-color-primary: #88498f;
    --global-color-secondary: #779fa1;
    --global-color-warning: #e28413;
    --global-color-danger: #ff6542;
}

@font-face {
    font-family: 'Montserrat-Light';
    src: url('./Font/Montserrat-Light.ttf')
}

@font-face {
    font-family: 'Montserrat-Thin';
    src: url('./Font/Montserrat-Thin.ttf')
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('./Font/Montserrat-Regular.ttf')
}

@font-face {
    font-family: 'Agrandir-Wide';
    src: url('./Font/Agrandir-WideLight.otf')
}

@font-face {
    font-family: 'Agrandir-Regular';
    src: url('./Font/Agrandir-Regular.otf')
}

@font-face {
    font-family: 'Open-Sans-Light';
    src: url('./Font/OpenSans-Light.ttf')
}