html {
    scroll-behavior: smooth;
}

.app {
    background-color: rgba(65, 65, 65, 0.6);
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.mainContent {
    margin: 0 5rem 0 15rem;
    color: white;
    text-align: center;
    height: calc(100vh - 12rem);
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding: 0rem;
    width: 100%;
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    align-items: center;

}

.menuImage {
    height: calc(100vh - 12rem);
    margin-top: auto;
    object-fit: contain
}

.nextButton {
    font-size: 5rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white
}